body { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: normal; color: black; background: #c2d5e0 }
h1 { font-family: Arial, Helvetica, sans serif; font-size: 16pt; font-weight: normal; margin-bottom: 0 }
h2 { font-family: Arial, Helvetica, sans serif; font-size: 14pt; font-weight: normal; margin-bottom: 0 }
h3 { font-family: Arial, Helvetica, sans serif; font-size: 12pt; font-weight: normal; margin-bottom: 0 }
h4 { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: bold; margin-bottom: 0 }
h5 { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: normal; margin-bottom: 0 }
p { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: normal;}
td { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: normal;}
td.tech { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: bold; font-style: italic; color: white; background-color: #000080}
td.use { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: bold; font-style: italic; color: white; background-color: #C21616}
td.quick { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: bold; font-style: italic; color: white; background-color: #008000}
p.tech { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: bold; font-style: italic; color: white; background-color: #000080 }
ul { font-family: Arial, Helvetica, sans serif; }
ol { font-family: Arial, Helvetica, sans serif; }
li { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: normal;}
pre { font-family: Courier New, Courier; font-size: 9pt; font-weight: normal;}
code { font-family: Courier New, Courier; font-size: 9pt; font-weight: normal;}
tt { font-family: Courier New, Courier; font-size: 10pt; font-weight: normal;}
table {	border-collapse: collapse }
table.code { background-color: #E0E0E0; width: 100%; margin-bottom: 2mm; margin-top: 2mm}
td.code { background-color: #E0E0E0; }
table.abstract { background-color: #F0F0FF; width: 100%; margin-bottom: 2mm; margin-top: 2mm}
th { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: bold;}
caption { font-family: Arial, Helvetica, sans serif; font-size: 10pt; font-weight: normal; font-style: italic;}
A { COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 10pt; TEXT-DECORATION: none }
A:link { COLOR: #be0000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: underline }
A:visited { COLOR: #be0000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: underline }
A:hover { BACKGROUND: #de6271; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none }
a.dynmenu    { font-family: Arial, Helvetica, 'sans serif'; color: black; font-size: 9pt; 
               text-decoration: none }
a.dynmenu:link { font-family: Arial, Helvetica, 'sans serif'; color: black; font-size: 9pt; 
               text-decoration: none }
a.dynmenu:visited { font-family: Arial, Helvetica, 'sans serif'; color: black; font-size: 9pt; 
               text-decoration: none }
a.dynmenu:hover { font-family: Arial, Helvetica, 'sans serif'; color: white; font-size: 9pt; 
               text-decoration: none; background: #6699CC }
.homeTab 			{
  color: #FFFFFF;
  background-color: #003366;
  cursor: hand;
  border-right: 1px solid #99ccff;
  border-bottom: 1px solid #99ccff;
}
.homeBand 			{
  color: #FFFFFF;
  background-color: #003366;
  border-right: 1px solid #99ccff;
  border-bottom: 1px solid #99ccff;
}

.homeTabSelected 		{
  color: #ccffcc;
  background-color: #6699CC;
  cursor: default;
  border-top: 2px outset #99ccff;
  border-right: 2px outset #336699;
}

table.tabLikeTable {
  background-color: #6699CC;
}

td.tabLikeTableBottom {
  background-color: #c2d5e0;
  vertical-align: top;
}

a.homeTabLink                 {text-decoration:none; color: white;   cursor: default; font-weight: normal;}
a.homeTabLink:link            {text-decoration:none; color: white;   cursor: default; font-weight: normal;}
a.homeTabLink:visited         {text-decoration:none; color: white;   cursor: default; font-weight: normal;}
a.homeTabLinkSelected         {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal;}
a.homeTabLinkSelected:link    {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal;}
a.homeTabLinkSelected:visited {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal;}
a.homeTabLinkSelected:hover   {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal; background-color: #6699CC}
a.homeTabLink:hover           {text-decoration:none; color: white;   cursor: hand;    font-weight: normal; background-color: #6699CC}

dt.glossaryTerm { font-weight: bold; }
